.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: rgb(166, 228, 208);
}
.section {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    width: 100vh;
    height: 100vh;
    background-color: lightblue;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    text-size-adjust: 300%;
h3 img {
    max-width: 70px;
    height: 70px;
    border-radius: 50%;
    transform: scale(1.2);
    box-shadow: 5px 5px 10px rgba(4, 234, 203, 0.2);
    border: 2px solid rgb(88, 27, 184);
}
}
a img {
    max-width: 30px;
    height: 30px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}