
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    height: 100vh;
    padding: 10px;
    font-size: 10px;
    flex: 1;
    border-radius: 10px;
}
.left-section {
    flex: 1;
    padding: 50px;
    border-radius: 8px;
    width: auto;
    height: auto;
    background-color: lightblue;
    transition: 0.3s;
}
.right-section {
    flex: 1;
    background-color: lightblue;
    padding: 50px;
    border-radius: 8px;
    transition: 0.3s;
    width: auto;
    height: auto;
}
img {
    width: 20px;
    height: auto;
}

.left-section:hover, .right-section:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(35, 150, 6, 0.2);
}